<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               [ngClass]="{'is-invalid': (refngModel.errors?.required || refngModel.errors?.minlength) && refngModel.touched }"
               type="text"
               placeholder="Nombre"
               name="nombre"
               [(ngModel)]="usuario.nombre"
               minlength="2"
               required
               #refngModel="ngModel"
               >

              <div *ngIf="refngModel.errors?.required && forma.controls.nombre.touched " class="invalid-feedback">
                Este campo es requerido
              </div>
              <div *ngIf="refngModel.errors?.minlength" class="invalid-feedback">
                Minimo {{ refngModel.errors.minlength.requiredLength }} caracteres
              </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <!-- [ngModel]="usuario.apellido"  se usa cuando solo deseo escuchar cambios--> 
        <!-- [(ngModel)]="usuario.apellido"  se usa cuando solo deseo escuchar y emitir cambios--> 
        <input class="form-control"
               [ngClass]="{'is-invalid': refapellido.errors?.required && refapellido.touched }"
               type="text"
               placeholder="Apellido"
               name="apellido"
               [(ngModel)]="usuario.apellido"
               required
               #refapellido="ngModel"
               >
              <div *ngIf="refapellido.errors?.required && forma.controls.apellido.touched" class="invalid-feedback">
              Este campo es requerido
              </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
             [ngClass]="{'is-invalid': (refCorreo.errors?.required || refCorreo.errors?.pattern) && refCorreo.touched }"
             type="email"
             placeholder="Correo electrónico"
             name="correo"
             [(ngModel)]="usuario.correo"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #refCorreo="ngModel"
              >
            <div *ngIf="refCorreo.errors?.required && forma.controls.correo.touched" class="invalid-feedback">
              Este campo es requerido
            </div>
            <div *ngIf="refCorreo.errors?.pattern" class="invalid-feedback">
              Este no es un correo valido
            </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-8">
      <select class="form-control"
              name="pais"
              [(ngModel)]="usuario.pais">
              <option value="" >Seleccione Pais</option>
              <option *ngFor="let pais of paises" [value]="pais.codigo">{{ pais.nombre }}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-8">
      <div class="form-check" *ngFor="let sexo of sexos" >
        <input [(ngModel)]="usuario.sexo"
               [value]="sexo"
               class="form-check-input" type="radio" name="sexo">
        <label class="form-check-label" for="exampleRadios2">
          {{sexo}}
        </label>
      </div>
      <!-- <div class="form-check">
        <input  [(ngModel)]="usuario.sexo"
                value="mujer"
                class="form-check-input" type="radio" name="sexo">
        <label class="form-check-label" for="exampleRadios3">
          Mujer
        </label>
      </div> -->
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Acepta</label>
    <div class="col-8">
      <div class="form-check">
        <input [(ngModel)]="usuario.acepta"
               name="acepta"
               required
               class="form-check-input" type="checkbox">
        <label class="form-check-label" for="defaultCheck1">
          Acepta termimos y condiciones
        </label>
      </div>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button 
              [disabled]="forma.invalid"
              type="submit"
              class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

<pre>

  {{ usuario | json }}

</pre>

</form>
